<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="<%= root_path %>">Thought Right Now</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
              <% if !user_signed_in? %>
                <li class="nav-item">
                  <a class="nav-link" href="<%=new_user_session_path%>">Sign In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="<%=new_user_registration_path%>">Sign up</a>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "nav-link"  %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
        <main role="main">
          <% if notice %>
            <div class="container">
              <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= notice %>
              </div>
            </div>
          <% end %>
          <% if alert %>
            <div class="container">
              <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= alert %>
              </div>
            </div>
          <% end %>
          <%= yield %>
        </main>
    <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer>
  </body>
</html>
